ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

coppelia/
CoppeliaSim_*
*.ttt.autosave*

coppelia/
CoppeliaSim_*
*.ttt.autosave*

__pycache__/
*.pyc
.env/
.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.bak
*.tmp
